.storename
{
	width: 400px;
	position: relative;
	left:475px;
}
.commodity
{
	width: 400px;
	height: 450px;
	background-color:white;
	border: 3px;
	border-radius: 5em;
	text-align: center;
}
.coma
{
	grid-column:6;
}
.comb
{
	grid-column:20;
}
.comc
{
	grid-column:6;
	grid-row:14/27;
}
.comd
{
	grid-column:20;
	grid-row:14/27;
}
.ad
{
	grid-column:12;
	grid-row:27/29;
	width: 500px;
	height: 100px; 
}
.cateimg
{
	width: 300px;
	display:block; 
	margin:auto;
}
footer 
{
	width: 96%;
}
h1,p,button
{
	margin: 5px;
}