.storename
{
	width: 400px;
	position: relative;
	left:475px;
}
.commodity
{
	width: 400px;
	height: 450px;
	background-color:white;
	border: 3px;
	border-radius: 5em;
	text-align: center;
}
.coma
{
	grid-column:6;
  grid-row:11;
}
.comb
{
	grid-column:20;
   grid-row:11;
}
.comc
{
	grid-column:6;
	grid-row:24;
}
.comd
{
	grid-column:20;
	grid-row:24;
}
.ad
{
	grid-column:12;
	grid-row:37/40;
	width: 500px;
	height: 150px; 
}
.cateimg
{
	width: 300px;
	display:block; 
	margin:auto;
}
h1,p,button
{
	margin: 5px;
}

.mySlides {display: none}
img {vertical-align: middle;}

.slideshow-container {
width: 600px;
  position: relative;
  margin: auto;
}
.acad{
width:100%;
border-radius:20px;

}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


.numbertext {
  color: #004D99;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}