body
{
	background: url(../images/bg.png);
	background-size: 50% 42%;
}
.shopimg
{
	width: 200px;
	border-radius: 999em;
}
.shopbear
{
	grid-column:10;
}
.shoprabbit
{
	grid-column:16;
}
.shopcat
{
	grid-column:22;
}
table
{
	border: 1px solid pink;
	background: white;
	margin-left:auto; 
	margin-right:auto;
}
th
{
	border-bottom:2px pink double;
}
td,th
{
	padding: 10px;
	width: 170px;
}
.numbtn
{
	margin: 12px;
}
.cross
{
	width:50px;
	display:block; margin:auto;
}
.uniship
{
	width: 80px;
	height: 80px;
	text-align: center;
	font-size: 20px;
	border-radius: 10px;
}
.shipface
{
	grid-column:17;
}
.shippost
{
	grid-column:20;
}
.shipcvs
{
	grid-column:23;
}
.shiphome
{
	grid-column:26;
}
.btnsub
{
	width: 80px;
	height: 40px;
	grid-column:23;
	grid-row:15;
}
.shipmem
{
	width: 300px;
	grid-column:12;
	grid-row:11;
}
.ordertable
{
	grid-column:8/30;
	grid-row:7;
}
.ad
{
	grid-column:12;
	grid-row:17/20;
	width: 500px;
	height: 150px; 
}