body
{
	background: url(../images/bg.png);
	background-size: 50% 42%;
}
.memberuni
{
	background-color:pink;
	border: 3px;
	border-radius: 5em;
	text-align: center;
}
.memberimg
{
	width: 300px;
	height: 250px;
	margin: 10px;
}
.memberword
{
	width: 700px;
	height: 250px;
	margin: 10px;
}
.mempad
{
	padding: 20px;
}
footer
{
	width: 96%;
}