.member
{
	margin: 0px auto;
}
.member div 
{
	display: inline-block;/*讓div並排*/
	vertical-align: top;/*就算個個div行數不同，也一律向上對齊*/
	height: 300px;
}
.memberuni
{
	background-color:pink;
	border: 3px;
	border-radius: 5em;
	text-align: center;
}
.memberimg
{
	width: 300px;
	margin:30px 60px 30px 100px;
}
.memberword
{
	width: 700px;
	margin:30px 100px 30px 60px;
}
.mempad
{
	padding: 20px;
}
