body
{
background: url(../images/dollbg.png);
background-size: 50% 42%;
}
article{
grid-column:1/30;
grid-row:1;
margin-top:25px;
margin-left:5%;
width: 35%;
}
.Introduction{
grid-column:13;
grid-row:1;
margin-top:65px;
padding:20px;
background:#FFFAFA     ;
width:500px;
height: 340px;
border-radius: 20px;
}
.name{
font-size:24px;
font-weight: bold;
}
*{box-sizing: border-box;}
.input-number{
width:50px;
padding: 0 12px;
vertical-align: top;
text-align: center;
outline: none;
}
.input-number,.input-number-decrement,.input-number-increment{
border: 1px solid #cccccc;
height: 30px;
user-select:none;
}
.input-number-decrement,.input-number-increment{
display:inline-block;
width: 30px;
line-height: 30px;
background: #f1f1f1;
color: #444444;
text-align: center;
font-weight: bold;
cursor: pointer;
}
.input-number-decrement:active,
.input-number-increment:active{
background: #dddddd;
}
.input-number-decrement
{
border-right: none;
border-radius: 0px 0 0 0px;
}
.input-number-increment{
border-left: none;
border-radius: 0 0px 0px 0;
}
.button {
padding: 10px 20px;
font-size: 16px;
text-align: center;
cursor: pointer;
outline: none;
color:#000000   ;
background-color: #FDF5E6 ;
border: none;
border-radius: 15px;
box-shadow: 0 6px #DCDCDC   ;
position: relative;top:-25px;
}
.button:hover {background-color: #E6C3C3}
.button:active {
background-color:#C0C0C0    ;
box-shadow: 0 3px #A9A9A9 ;
transform: translateY(4px);
}
section{
border:#FFFAFA   4px solid;
width: 80%;
margin-top: 30px;
margin-left: 10%;
margin-left: 10%;
height:1500px;
}
.tab {
overflow: hidden;
border: 1px solid #ccc;
background-color: #f1f1f1;
}
.tab button {
background-color: inherit;
float: left;
border: none;
outline: none;
cursor: pointer;
padding: 14px 16px;
transition: 0.3s;
font-size: 17px;
}
.tab button:hover {
background-color: #ddd;
}
.tab button.active {
background-color: #ccc;
}
.tabcontent {
display: none;
padding: 6px 12px;
border: 1px solid #ccc;
border-top: none;
background-color: white;
}
.tabs{
margin: 10px;
grid-column:2/26;
grid-row:12;
background:#FFFAFA;
}
.tablinks
{
border-radius: 0px;
}
.comment{
float: right;
margin:-70px 20px 40px 0px;
background-color:white;
position: relative;top:-25px;
height:98px;
}
.tab2{
overflow: hidden;
border: 1px solid #ccc;
background-color: #f1f1f1;
width:125px;
position: relative;top:-25px;
}
/* Style the buttons inside the tab */
.tab2 button {
background-color: inherit;
float: left;
border: none;
outline: none;
cursor: pointer;
padding: 12px 12px;
transition: 0.3s;
font-size: 14px;
}
/* Change background color of buttons on hover */
.tab2 button:hover {
background-color: #ddd;
}
/* Create an active/current tablink class */
.tab2 button.active {
background-color: #ccc;
}
/* Style the tab content */
.tabcontent2 {
display: none;
padding: 6px 12px;
border: 1px solid #ccc;
border-top: none;
width:125px;
height:75px;
position: relative;top:-25px;
}
.shoppingmodal
{
display: none;
position: fixed;
z-index: 1;
padding-top: 100px;
left: 0;
top: 0;
width: 100%;
height: 100%;
overflow: auto;
background-color: rgb(0,0,0);
background-color: rgba(0,0,0,0.4);
}
.shoppingmodal-content
{
background-color: #fefefe;
margin: auto;
padding: 20px;
border: 1px solid #888;
width: 40%;
}
.shoppingclose
{
color: #aaaaaa;
float: right;
font-size: 28px;
font-weight: bold;
}
.shoppingclose:hover,.shoppingclose:focus
{
color: #000;
text-decoration: none;
cursor: pointer;
}
input[type=text],  textarea {
width: 100%;
padding: 12px;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
margin-top: 6px;
margin-bottom: 16px;
resize: vertical;
}
.send[type=submit] {
background-color:#F08F90;
color: white;
padding: 12px 20px;
border: none;
border-radius: 4px;
cursor: pointer;
}
.send[type=submit]:hover {
background-color: #FCC9B9;
}
.container {
border-radius: 20px;
background-color: #FDF5E6;
padding: 20px;
}
legend{font-size:16px;}
.rating {
float:left;
}
.rating:not(:checked) > input {
position:absolute;
top:-9999px;
clip:rect(0,0,0,0);
}
.rating:not(:checked) > label {
float:right;
width:1em;
padding:0 .1em;
overflow:hidden;
white-space:nowrap;
cursor:pointer;
font-size:200%;
line-height:1.2;
color:#ddd;
text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}
.rating:not(:checked) > label:before {
content: '★ ';
}
.rating > input:checked ~ label {
color: #f70;
text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
color: gold;
text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}
.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
color: #ea0;
text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}
.rating > label:active {
position:relative;
top:2px;
left:2px;
}