body{
background-size: 50% 42%;
background: url(assets/images/bg.png);
}
section{
border:4px solid;
border-color:#5686BF;
width: 80%;
margin-top: 30px;
margin-left: 10%;
margin-left: 10%;
height:570px;
}

.tablinks
{
  border-radius: 0px;
}
.backtab {
	margin:0 auto;

overflow: hidden;
border: 1px solid #ccc;
background-color: #f1f1f1;
width:850px;
}
.backtab button {
background-color: inherit;
float: left;
border: none;
outline: none;
cursor: pointer;
padding: 14px 16px;
transition: 0.3s;
font-size: 17px;
}
.backtab button:hover {
background-color: #ddd;
}
.backtab button.active {
background-color: #ccc;
}
.tabcontent3 {
    background-color: white;
display: none;
padding: 6px 12px;
border: 1px solid #ccc;
border-top: none;
}

.backtab{
  grid-column:2/27;
grid-row:12;
background:#FFFAFA;
}
